.switcher {
  display: flex;
  flex-direction: column;
  //align-items: center;
}

.switcherButton {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 30px;
  cursor: pointer;
}

.themeIcon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sun {
  color: #e89246;
  font-size: 2.2rem;
}

.moon {
  font-size: 1.7rem;
  color: #6aa7d6;
}

.title {
  font-size: 1.3rem;
}
