// Colors
$red: #f46e70;
$black: #161616;
$white: #fdfdfd;

html {
  font-size: 10px;
}

body {
  font-family: "Oswald", sans-serif;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2.3rem;
}
h5 {
  font-size: 2.1rem;
}
h6 {
  font-size: 1.9rem;
}
